<!DOCTYPE html>
<html>
<head>
  
  <script src="js/angular.min.js"></script>
  <script src="avatarscript.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<style>
	body{
		background-color:#B1FA98;
	}
	.page-header{
	  text-align:center;
	  font-size:50px;
	  font-variant:small-caps;
	  background-color:#B1FA98;
	}
	.main-content{
		text-align:center;
	}
	h1{
		font-size:25px;
		font-family: "Times New Roman", Times, serif;
		font-variant:small-caps;
	
	}
    .User-list {
  list-style: none;
}

.Avatar {
  text-align: center;  
}

.Avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Avatar h4 {
  text-transform: capitalize;
}
  </style>
  <meta charset="utf-8">
  <title>User Avatar Template</title>
</head>
<body>
  <div class='page-header'>User Creation</div>
  <div ng-app='app' ng-controller='mainCtrl' class="main-content">
    <h1>Create new user</h1>

    <form name='userForm' ng-submit='addNew(userForm)'>
      <input placeholder='Name' ng-model='userForm.name'/>
      <input placeholder='Image Url' ng-model='userForm.url'/>
      <button type='submit'>Add New</button>
    </form>
    </br>
    <ul class='User-list'>
    	<div class="row">
  <li ng-repeat='user in users'>
    <div class="col-xs-5 col-md-2"><avatar user='user' /></div>
  </li>
  </div>
</ul>
  </div>
</body>
</html>
