body {
  background-color:black;
  color:white;
}
.page-header{
  background-color:white;
  color:black;
  padding-bottom: 0px;
  margin: 0px 0 0px;
  border-bottom: 1px solid #eee;
}
.info{
  text-align:center;
  margin:auto;
}
#usernamefield{
  color:black;
}
#colorfield{
  color:black;
}
