body {
  background-color:black;
  color:white;
}
.page-header{
  background-color:white;
  color:black;

}
.info{
  text-align:center;
  margin:auto;
}
#usernamefield{
  color:black;
}
#colorfield{
  color:black;
}



